<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="someStr" />
        <input type="text" v-model="child.someStr" />
        <!-- <p v-class="className" class="abc">
            {{someStr}}
            <span v-text="child.someStr"></span>
        </p> -->
        <p>{{ getHelloWord }}</p>
        <p>{{ testSet }}</p>
        <p v-html="htmlStr"></p>
        <button v-on:click="clickBtn">change model</button>
    </div>
    <script src="./watcher.js"></script>
    <script src="./observe.js"></script>
    <script src="./compiler.js"></script>
    <script src="./MVVM.js"></script>
    <script>
        let data = {
            test: '123',
            name: 'shawn',
            someStr: 'fuck',
            child: {
                name: 'child',
                someStr: 'someStr child',
                son: {
                    age: 18,
                    hobbit: [{
                        name: 'ball'
                    }, {
                        name: 'code'
                    }]
                }
            },
            getHelloWord: 'hi',
            list: [1,2,3]
        };
        data.loop = data;

        let vm = new MVVM({
            data,
            el: '#app',
            methods: {
                clickBtn: function (e) {
                    let randomStrArr = ['childOne', 'childTwo', 'childThree'];
                    this.child.someStr = randomStrArr[parseInt(Math.random() * 3)];
                }
            }
        });

        data.test = 123;
        data.child.name = 'test child';
        data.child.son.age = 19;
        data.list.push(4);
        data.list.splice(3, 1, 5);
        vm.$set(data, 'testSet', 1);
        vm.$delete(data, 'getHelloWord');
    </script>
</body>
</html>